.suprise_text{
    font-size: 48px;
    color: #042A2B;
}

.gift_box_image{
    width: 250px;
    margin: auto;
}

.button{
    margin: 30px;
}


@media only screen and (max-width: 600px) {
    .gift_box_image{
        width: 120px;
    }
   
}

@media only screen and (min-width: 1200px) {
    .button{
        margin-top: 5vh;
    }
}