.home {
  text-align: center;
}

/* .hero_section{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */



.primary_text{
  color: #FFFFFF;
}

.light_text{
  font-weight: 275;
}

.title{
  color: #FFFFFF;
  font-weight: 200;
  font-size: 46px;
}

.subtitle{
color: #FFC700;
font-style: normal;
font-weight: 800;
font-size: 55px;

}


.button_group{
  display: flex;
  text-align: center;
  margin: 40px 0px;
}


.content{
  width: 70vw;
  margin: auto;
  margin-top: 50px;
  color: #FFFFFF;
}


@media only screen and (max-width: 600px) {
  .content{
    margin-top: 0px;
    font-size: 16px;
  }

  .description{
    margin-top: 20px;
  }
  .title{
    font-size: 28px;
  }

  .subtitle{
    font-size: 26px;
  }

  .description{
    font-weight: 500px;
    margin-top: 3vh;
  }

  .button_group{
    display: block;
  }
}


@media only screen and (min-width: 1200px) {
  .title{
    font-size: 65px;
    margin-top: 20vh;
  }
  .subtitle{
    font-size: 80px;
  }
  .description{
    width: 45vw;
    margin: auto;
    font-size: 20px;
    margin-top: 2vh;
  }

  .button_group{
    width: 40vw;
    margin: auto;
    margin-top: 12vh;
  }
}
